*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    background-color: #302f29;
    color: white;
    margin: auto; 
    /* overflow: hidden; */
    font-family: 'Raleway', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 15vh;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
}
li{
    font-weight: 500;
    font-size: 20px;
}
li>button{
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    background-color: #302f29;
    color: #d1be55;
    border-style:double;
    border-color: #d1be55;
    border-width: 1px;
    border-radius: 9px;
}
main{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    font-size: 50px;
    width: 50%;
    padding: 5px 50px;
}
.right{
    font-size: 26px;
    width: 50%;
    padding: 5px 5%;
}
div{
    height:65vh;
    padding-top: 50px;
}