*{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    max-width: 1440px;
    box-sizing: border-box;
}

.bgimage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(./Photos/mainBackground.png); 
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    background-size:cover;
}

nav{
   display: flex;
   
   height: 100px;
   justify-content: space-around;
   align-items: center;
}

#nav-logo{
    height: 100px;
    width: 150px;
}
.nav-ul{
    display: flex;
    list-style: none;
    gap: 25%;
    color: white;
    font-size: 20px;
    padding-right: 150px;
}

.nav-li-items{
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 600px;
    margin-left: 200px;
    /* margin-top: 100px; */
}

#hero-h2{
    height: 100px;
    width: 450px;
    font-size: 54px;
    color: wheat;
    font-family: 'Josefin Sans', sans-serif;
}

#hero-p{
    height: 50px;
    width: 350px;
    font-size: 18px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

#hero-button{
    font-size: 18px;
    font-weight:600;
    height: 50px;
    width: 150px;
    background-color: #6663e9;
    color: white;
    border-color: #6663e9;
    border-style: hidden;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}